body
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera
{
    text-align: center;
    font-size: 36px;
    padding: 16px;
}

.container
{
    width:70%;
    padding:0;
    border:1px solid rgb(156, 156, 156);
    margin:0 auto
}

.cabecero
{
    font-size: 34px;
    color: white;
    background-color: rgb(52, 81, 213);
    text-align: left;
    padding: 18px;
    box-shadow: 0px 7px 10px 0px rgba(153,150,153,1);
}

.subtitulo
{
    font-size: 17px;
    padding-left: 32px;
}

.posts h1
{
    font-size: 30px;
    text-align: center;
}

.posts
{
    font-size: 20px;
    padding-left: 12px;
    padding-bottom: 4px;
}