body
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera
{
    text-align: center;
    font-size: 36px;
    padding: 16px;
}

.container
{
    width:70%;
    padding:0;
    border:1px solid rgb(156, 156, 156);
    margin:0 auto
}

.container h1
{
    color: white;
    background-color: rgb(52, 81, 213);
    text-align: left;
    padding: 16px;
    margin-top: 0px;
    box-shadow: 0px 7px 10px 0px rgba(153,150,153,1);
    text-align: center;
}

.post
{
    font-size: 20px;
    padding-left: 12px;
    padding-bottom: 8px;
}